:root{
    --red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%);
    --Gray: hsl(249, 10%, 26%);
    --Pale-Purple: hsl(246, 25%, 77%);

    font-size: 16px;

}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--red);
}

.signup-page{
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.signup__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1.2rem;
}

.signup__text h2{
    color:white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.signup__text p{
    text-align: center;
}

.singup__form{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.singup__discount{
    padding: 10px;
    background-color: var(--Purple);
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 2rem 3rem;
}


.form__field{
    border:1px solid var(--Gray);
    border-radius: 0.2rem;
    padding: 1rem;
    color: var(--Green);
    font-weight: 400;
}

button{
    background-color: var(--Green);
    color: white;
    font-weight: 600;
    padding: 1.5rem;
    border-radius:0.2rem;
    border: none;
    cursor: pointer;
}

.terms-conditions{
    color: var(--Gray);
    text-align: center;
}

.terms{
    color: var(--red);
}



/* Larger screens (desktops and big tablets) */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup-page {
    display: flex;
    flex-direction: row; /* Switch to row on large screens */
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 2rem;
  }

  .signup__text {
    width: 50%;
    text-align: left;
    align-items: flex-start;
  }

  .singup__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .singup__discount {
    padding: 1rem;
    font-size: 1rem;
  }

  button {
    padding: 1rem;
  }

  .terms-conditions {
    font-size: 0.75rem;
  }
}




